@model Enrollment
<h1>Enrollment Details</h1>
<dl class="row"><dt class="col-sm-2">Student</dt><dd class="col-sm-10">@Model.Student?.FullName</dd><dt class="col-sm-2">Subject</dt><dd class="col-sm-10">@Model.Subject?.Name</dd><dt class="col-sm-2">Date</dt><dd class="col-sm-10">@Model.EnrollmentDate.ToShortDateString()</dd><dt class="col-sm-2">Grade</dt><dd class="col-sm-10">@Model.Grade</dd></dl>
<a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> | <a asp-action="Index">Back</a>
